@{
    ViewData["Title"] = "Home Page";
}

<div class="body-content centre">
    <p>
        Enter your UKC user name
        <input class="input-sm" id="username-input">
        <button id="go-to-map-username">Go!</button>
    </p>
    <div hidden id="show-if-username-failed">
        <p>Name not found, try entering your user ID instead</p>
        <input class="input-sm" id="userid-input" />
        <button id="go-to-map-userid">Go!</button>
    </div>
    <div hidden id="show-if-userid-failed">
        <p>Not user with that Id was found, perhaps your logbook is private?</p>
    </div>
</div>

<script>
    document.getElementById("go-to-map-username")
        .onclick = function () {
            const userName = document.getElementById("username-input").value;

            fetch(`home/TryFindUserByName?ukcUserName=${userName}`).then(function (response) {
                console.log(response.status);
                if (response.ok) {
                    window.location.href = `${"@Url.Action("MapName", "Home")"}?ukcUserName=${userName}`;
                }
                else {
                    document.getElementById("show-if-username-failed").removeAttribute("hidden");
                }
            });
        };

    document.getElementById("go-to-map-userid")
        .onclick = function () {
            const userId = document.getElementById("userid-input").value;

            fetch(`home/TryFindUserById?ukcUserId=${userId}`).then(function (response) {
                console.log(response.status);
                if (response.ok) {
                    window.location.href = `${"@Url.Action("MapId", "Home")"}?ukcUserId=${userId}`;
                }
                else {
                    document.getElementById("show-if-userid-failed").removeAttribute("hidden");
                }
                        });
        };
</script>

<style>
    /*https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page*/
    .centre {
        position: absolute;
        width: 300px;
        height: 200px;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -150px;
    }
</style>