@{
    ViewData["Title"] = "Home Page";
}

<div class="body-content centre">
    <p>
        Enter your UKC user name
        <input class="input-sm" id="username-input">
        <button id="go-to-map">Go!</button>
    </p>
</div>

<script>
    document.getElementById("go-to-map")
        .onclick = function () {
            const userName = document.getElementById("username-input").value;
            window.location.href = "@Url.Action("Map", "Home")" + `?ukcUserName=${userName}`;
        };
</script>

<style>
    /*https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page*/
    .centre {
        position: absolute;
        width: 300px;
        height: 200px;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -150px;
    }
</style>