@model List<MapMarkerDto>
@{
    ViewData["Title"] = "Map";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map" class="centre"></div>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        function initMap() {
            var data = new Array();
            @foreach (var marker in Model)
                {
                    <text>data.push({ lng: @marker.Location.Longitude, lat: @marker.Location.Latitude});</text>
                }
            var uluru = { lat: 51.752022, lng: -1.257677 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: uluru
            });
            $.each(data, function (i, item) {
                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(item.lat, item.lng),
                    'map': map,
                    'title': item.PlaceName
                })
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbwGGr4DAAb-BwnLjrS3jEjRNepZSCLUM&callback=initMap">
    </script>
</body>
</html>

<style>
    /*https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/
    .centre {
        width: 50%;
        height: 50%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
</style>